{{ define "index" }}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
</head>
<body>
    {{ template "form" . }}
    <div id="display">
        {{ template "display" . }}
    </div>
</body> 
</html>
{{ end }}

{{ define "form" }}
<form hx-post="/contacts" hx-target="#display" hx-swap="beforeend">
    Name: <input type="text" name="name" required/>
    Email: <input type="email" name="email" required/>
    <button type="submit">Submit</button>
</form>
{{ end }}

{{ define "display" }}
    {{ range .Contacts }}
        {{ template "newentry" . }}
    {{ end }}
{{ end }}

{{ define "newentry" }}
    <div>
        Name: <span>{{ .Name }}</span>
        Email: <span>{{ .Email }}</span>
    </div>
{{ end }}
