{{ block "index" .}}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
</head>
<body>
    {{ template "form" . }}
    {{ template "display" . }}
</body> 
</html>
{{ end }}

{{ block "count" .}}
    Count {{ .Count }} 
{{ end }}

{{ block "form" . }}
    <form hx-post="/contacts" hx-target="#display">
        Name: <input type="text" name="name"/>
        Email: <input type="text" name="email"/>
        <button type="submit">Submit</button>
    </form>
{{ end }}

{{ block "display" . }}
    <div style="display: flex; flex-direction: column;" id="display">
    {{ range .Contacts }}
        <div>
            Name: <span>{{ .Name }}</span>
            Email: <span>{{ .Email }}</span>
        </div>
    {{ end }}
{{ end }}


